<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" [(ngModel)]="register.name" required>
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="register.email" required>
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Nombre</label>
    <input type="password" id="password" name="password" [(ngModel)]="register.password" required>
    <p>Mensajes de error</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Registrar</button>
</form>
<hr>
<h1>ngClass & ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  width="50%"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px':box.width,
      'height.px':box.height,
      'background-color':box.background
    }">

    </div>
  </div>
</div>
<hr>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label [style.font-style]="nameInput3.invalid?'italic':'normal'">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid?'italic':'normal'">text texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="">
  </div>
</div>
<hr>
<h1>ngSwitch</h1>
<input type="text" requiered [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Chano'">La persona es Chano</p>
  <p *ngSwitchCase="'Jose'">La persona es Jose</p>
  <p *ngSwitchCase="'Carlos'">La persona es Carlos</p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<hr>
<h1>*ngFor Obj</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>S/{{product.price}}</h2>
    <p>{{product.name + '('+product.category+')' }}</p>
  </div>
</div>
<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length === 0">No hay elementos en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteNameByIndex(i)">Delete Name</button>
  </li>
</ul>
<button (click)="deleteName()">Delete Name</button>
<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Chano';else elseBlock">Hola, soy Chano</p>
<p *ngIf="person.name === 'Jose';else elseBlock">Hola, soy Jose</p>
<ng-template #elseBlock>
  <p>Este es el else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Nombre: {{person.name}}</p>
<input type="number" max="50" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>
<hr>
<h1>Eventos</h1>
<button (click)="toggleButton()">Activar</button>
<button (click)="decreaseAge()">- Edad</button>
<button (click)="increaseAge()">+ Edad</button>
<p>Edad: {{person.age}}</p>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut veritatis dolor ducimus. Possimus qui veritatis aliquid, iste velit libero adipisci, optio quibusdam praesentium odio tempora repellendus nisi nobis cumque.
</div>
<br>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>
<h1>Propiedades</h1>
<input type="text" [value]=person.name>
<button [disabled]="isBtnDisabled">Enviar</button>
<progress max="50" [value]=person.age></progress>
<img [src]=person.avatar alt="" [height]=maxHeight>
<hr>
<h1>Hola Mundo</h1>
<h2>{{'Hola Mundo => '.repeat(5)}}</h2>
<p>3 + 3 = {{3+3}}</p>
<p>Hola mi nombre es {{name}} y tengo {{age}} años</p>
<img width="100" src="{{img}}">
